---
import ArrowRightIcon from "@/icons/arrow-right.astro";
import Image from "@/components/image/index.astro";

const { data } = Astro.props;
const path = "a";
---

<a href="/" class="lab-card">
  <picture
    class="block shadow-xl rounded-xl overflow-hidden lab-thumbnail-container"
    xtransition:name={`lab-thumbnail-${path}`}
  >
    <Image
      src="/img/portfolio"
      name={data.image}
      alt={data.title}
      class="object-cover w-full h-full lab-thumbnail"
    />
    <div class="absolute top-0 left-0 w-full h-full"></div>
  </picture>
  <h3
    class="font-medium flex items-center px-2 pt-1 pb-2 title"
    xtransition:name={`lab-title-${path}`}
  >
    <span class="title-arrow"><ArrowRightIcon size={16} /></span>
    <span class="">{data.title}</span>
  </h3>
</a>

<style>
  .lab-card {
    display: block;
  }
  .lab-thumbnail-container {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000036;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
  .lab-thumbnail {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
  .title {
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
  }
  .title-arrow {
    display: block;
    overflow: hidden;
    width: 0px;
    opacity: 0;
    transform: translateX(-10px);
    transition:
      transform 0.3s ease-in-out,
      width 0.3s ease-in-out,
      opacity 0.5s ease-in-out;
  }
  /* */
  .lab-card:hover {
    .lab-thumbnail-container {
      animation: lab-thumbnail-perspective 0.7s ease-in-out;

      &:after {
        transition: opacity 0.6s ease-in-out;
        opacity: 1;
      }
    }
    .lab-thumbnail {
      animation: lab-thumbnail-blur 0.7s ease-in-out;
      transition: transform 0.7s ease-in-out;
      transform: scale(1.05);
    }
    .title {
      opacity: 1;
    }
    .title-arrow {
      width: 20px;
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes lab-thumbnail-perspective {
    0% {
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    }
    30% {
      transform: perspective(1000px) rotateX(-4deg) rotateY(-1deg);
    }
    100% {
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    }
  }

  @keyframes lab-thumbnail-blur {
    0% {
      filter: blur(0px);
    }
    20% {
      filter: blur(3px);
    }
    90% {
      filter: blur(0px);
    }
  }
</style>
