---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Image from "@/components/image/index.astro";
import Container from "@/components/container/index.astro";
import MdRenderer from "@/components/md-renderer/index.astro";

export async function getStaticPaths() {
  const labData = await getCollection("lab");
  return labData.map((lab, i) => {
    let j = i - 1;
    j = j < 0 ? labData.length - 1 : j;

    let k = i + 1;
    k = k >= labData.length ? 0 : k;

    return {
      params: { slug: lab.slug },
      props: { lab, prevLab: labData[j], nextLab: labData[k] },
    };
  });
}

const { lab, prevLab, nextLab } = Astro.props;

const {
  path,
  title,
  description,
  thumbnail,
  url,
  urlText,
  tags,
  skills,
  github,
} = lab.data;

const { Content } = await lab.render();
---

<Layout title={`${title} - Portfolio 2024`}>
  <section class="">
    <header class="relative min-h-[70dvh] flex flex-col justify-center">
      <picture
        class="block overflow-hidden absolute top-0 left-0 w-full h-full bg-black select-none"
        transition:name={`lab-thumbnail-${path}`}
      >
        <Image
          src="/img/lab"
          name={thumbnail}
          alt={title}
          class="object-cover w-full h-full lab-thumbnail opacity-50"
        />
      </picture>

      <Container>
        <div class="text-white py-header-height max-w-5xl mx-auto">
          <h1 class="h1 font-medium mb-6" transition:name={`lab-title-${path}`}>
            {title}
          </h1>
          <p
            class="text-xl text-balance px-2"
            transition:name={`lab-description-${path}`}
          >
            {description}
          </p>
        </div>
      </Container>
    </header>
    <article class="py-12 md-content">
      <Container>
        <MdRenderer>
          <Content />
        </MdRenderer>
      </Container>
    </article>
  </section>
</Layout>
