---
import Image from "@/components/image/index.astro";
import Container from "@/components/container/index.astro";
import Contact from "@/views/about-me/contact.astro";
import dataSite from "@/data/data.json";

const { es } = Astro.props;

const { title, myImages, aboutContent } = dataSite;

const { title: titleAbout } = es
  ? dataSite.sitemap.about.es
  : dataSite.sitemap.about;

const content = es ? aboutContent.es : aboutContent.en;
---

<section class="bg-gray-900 text-white relative about-section">
  <picture
    class="block overflow-hidden absolute top-0 left-0 w-full h-full bg-black select-none bg-about-picture"
  >
    <Image
      src="/img/about"
      name={myImages.about_bg}
      alt={title}
      class="object-cover w-full h-full lab-thumbnail opacity-60"
    />
  </picture>
  <header>
    <Container class="sm:flex items-start pt-[25dvh] pb-[30dvh]">
      <div
        class="flex-shrink-0 w-1/3 xl:w-2/5 pr-[2dvw] col-about-1 hidden sm:block"
      >
        <picture
          class="block overflow-hidden w-full bg-black select-none rounded-3xl shadow-2xl about-picture"
        >
          <Image
            src="/img/about"
            name={myImages.about}
            alt={title}
            class="object-cover w-full h-full"
          />
        </picture>
      </div>
      <div class="pl-[3dvw] text-center sm:text-left">
        <h1 class="text-h1b font-medium mb-[2dvh]">{titleAbout}</h1>
        {
          content.map((elem, k) => {
            return (
              <p
                class={`text-subdescription leading-snug text-balance px-2 mb-[5dvh] pf${k + 1}`}
              >
                {elem}
              </p>
            );
          })
        }
        <div class="flex justify-center sm:justify-start w-fit">
          <Contact es={es} />
        </div>
      </div>
    </Container>
  </header>
</section>

<style>
  .about-section {
    view-timeline: --scroll;
    overflow: hidden;
    min-height: 100dvh;
  }

  .bg-about-picture {
    animation: bg-hero-picture-displace linear;
    animation-timeline: --scroll;
    animation-range: 100vh 100%;
  }

  @keyframes bg-hero-picture-displace {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }

  /************************ */

  h1 {
    animation: fade-in-anim 0.5s 0.2s both ease-out;
  }
  .pf1 {
    animation: fade-in-anim 0.5s 0.3s both ease-out;
  }
  .pf2 {
    animation: fade-in-anim 0.5s 0.4s both ease-out;
  }
  .nav-about {
    animation: fade-in-anim 0.5s 0.5s both ease-out;
  }
  .col-about-1 {
    animation: fade-in-anim 0.5s 0.6s both ease-out;
  }

  @keyframes fade-in-anim {
    0% {
      opacity: 0;
      transform: translateY(6vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /************************ */

  .about-picture {
    animation: about-picture-displace linear;
    animation-timeline: --scroll;
    animation-range: 100vh 100%;
  }

  @keyframes about-picture-displace {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30vh);
    }
  }

  /* .fade-in-start {
    animation: fade-in-anim 0.4s 0.3s backwards ease-in-out;
  }

  .fade-out {
    animation: fade-out-anim both linear;
    animation-timeline: --scroll;
    animation-range: 100dvh 140dvh;
  }

  @keyframes fade-out-anim {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20vh);
    }
  }

  .fade-in {
    animation: fade-in-anim both linear;
    animation-timeline: --scroll;
    animation-range: 160dvh 175dvh;
  }
  .fade-in-b {
    animation: fade-in-anim both linear;
    animation-timeline: --scroll;
    animation-range: 180dvh 190dvh;
  }

  @keyframes fade-in-anim {
    0% {
      opacity: 0;
      transform: translateY(2vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */
</style>
