---
import Image from "@/components/image/index.astro";
import Container from "@/components/container/index.astro";
import Button from "@/components/button/index.astro";
import PDFicon from "@/icons/pdf.astro";
import GithubIcon from "@/icons/github.astro";
import EmailIcon from "@/icons/email.astro";
import LinkedinIcon from "@/icons/linkedin.astro";
import I18n from "@/i18n/index.astro";
import dataSite from "@/data/data.json";

const { es } = Astro.props;

const thumbnail = "d";

const { title } = dataSite;

const { title: titleAbout } = es
  ? dataSite.sitemap.about.es
  : dataSite.sitemap.about;
---

<section class="bg-gray-900 text-white relative about-section">
  <picture
    class="block overflow-hidden absolute top-0 left-0 w-full h-full bg-black select-none bg-about-picture"
  >
    <Image
      src="/img/lab"
      name={thumbnail}
      alt={title}
      class="object-cover w-full h-full lab-thumbnail opacity-60"
    />
  </picture>
  <header>
    <Container class="sm:flex items-start pt-[25dvh] pb-[30dvh]">
      <div
        class="flex-shrink-0 w-1/3 xl:w-2/5 pr-[2dvw] col-about-1 hidden sm:block"
      >
        <picture
          class="block overflow-hidden w-full bg-black select-none rounded-3xl shadow-2xl about-picture"
        >
          <Image
            src="/img/lab"
            name={"f"}
            alt={title}
            class="object-cover w-full h-full"
          />
        </picture>
      </div>
      <div class="pl-[3dvw] text-center sm:text-left">
        <h1 class="text-h1b font-medium mb-[2dvh]">{titleAbout}</h1>
        <p
          class="text-subdescription leading-snug text-balance px-2 mb-[5dvh] pf1"
        >
          Cambium is on a mission to build a recycled wood supply chain that
          puts people and planet first. We partnered with them to craft their
          digital narrative and visualize the journey of Carbon Smart Wood.
        </p>
        <p
          class="text-subdescription leading-snug text-balance px-2 mb-[8dvh] pf2"
        >
          Cambium is on a mission to build a recycled wood supply chain that
          puts people and planet first. We partnered with them to craft their
          digital narrative and visualize the journey of Carbon Smart Wood.
        </p>
        <div class="flex justify-center sm:justify-start">
          <nav
            class="flex flex-col items-center sm:items-start gap-[4dvh] px-2 nav-about"
          >
            <Button
              href={`/pdf/CV_Pablo_Cazorla_${es ? "ES" : "EN"}.pdf`}
              toLeft
              target="_blank"
              rel="noopener noreferrer"
              color="pdf"
            >
              <div>
                <div class="w-8 flex justify-end">
                  <PDFicon size={26} />
                </div>
              </div>

              <div class="ml-2">
                <I18n text="Download my CV" es={es} />
              </div>
            </Button>
            <Button
              href="mailto:pablo.david.cazorla@gmail.com"
              toLeft
              target="_blank"
              rel="noopener noreferrer"
            >
              <div>
                <div class="w-8 flex justify-end">
                  <EmailIcon size={26} />
                </div>
              </div>

              <div class="ml-2">
                <I18n text="Send me an email" es={es} />
              </div>
            </Button>
            <Button
              href="https://www.linkedin.com/in/pablocazorla/"
              toLeft
              target="_blank"
              rel="noopener noreferrer"
              color="linkedin"
            >
              <div>
                <div class="w-8 flex justify-end">
                  <LinkedinIcon size={24} />
                </div>
              </div>

              <div class="ml-2">Linked In</div>
            </Button>
            <Button
              href="https://github.com/pablocazorla"
              toLeft
              target="_blank"
              rel="noopener noreferrer"
              color="github"
            >
              <div>
                <div class="w-8 flex justify-end relative left-[2px]">
                  <GithubIcon size={28} />
                </div>
              </div>

              <div class="ml-2">Github</div>
            </Button>
          </nav>
        </div>
      </div>
    </Container>
  </header>
</section>

<style>
  .about-section {
    view-timeline: --scroll;
    overflow: hidden;
    min-height: 100dvh;
  }

  .bg-about-picture {
    animation: bg-hero-picture-displace linear;
    animation-timeline: --scroll;
    animation-range: 100vh 100%;
  }

  @keyframes bg-hero-picture-displace {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }

  /************************ */

  h1 {
    animation: fade-in-anim 0.5s 0.2s both ease-out;
  }
  .pf1 {
    animation: fade-in-anim 0.5s 0.3s both ease-out;
  }
  .pf2 {
    animation: fade-in-anim 0.5s 0.4s both ease-out;
  }
  .nav-about {
    animation: fade-in-anim 0.5s 0.5s both ease-out;
  }
  .col-about-1 {
    animation: fade-in-anim 0.5s 0.6s both ease-out;
  }

  @keyframes fade-in-anim {
    0% {
      opacity: 0;
      transform: translateY(6vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /************************ */

  .about-picture {
    animation: about-picture-displace linear;
    animation-timeline: --scroll;
    animation-range: 100vh 100%;
  }

  @keyframes about-picture-displace {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30vh);
    }
  }

  /* .fade-in-start {
    animation: fade-in-anim 0.4s 0.3s backwards ease-in-out;
  }

  .fade-out {
    animation: fade-out-anim both linear;
    animation-timeline: --scroll;
    animation-range: 100dvh 140dvh;
  }

  @keyframes fade-out-anim {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20vh);
    }
  }

  .fade-in {
    animation: fade-in-anim both linear;
    animation-timeline: --scroll;
    animation-range: 160dvh 175dvh;
  }
  .fade-in-b {
    animation: fade-in-anim both linear;
    animation-timeline: --scroll;
    animation-range: 180dvh 190dvh;
  }

  @keyframes fade-in-anim {
    0% {
      opacity: 0;
      transform: translateY(2vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */
</style>
