---
import Image from "@/components/image/index.astro";
import PictureAmplitude from "@/components/picture-amplitude/index.astro";
import PictureAmplitudeLupa from "@/components/picture-amplitude/lupa.astro";
import VideoAmplitude from "@/components/video-amplitude/index.astro";
import VideoAmplitudeLupa from "@/components/video-amplitude/lupa.astro";
import ScrollmeBanner from "@/components/scrollme-banner/index.astro";
import Bg from "@/components/bg.astro";

const { work, es } = Astro.props;
const { title, thumbnail, images } = work.data;
---

<div
  class="w-dvw pt-header-height pb-footer-height gallery-portfolio-section relative"
>
  <Bg count={8} />
  <div class="w-full h-full flex items-stretch relative">
    <div class="w-full h-full relative slide-h-drag-container">
      <div
        class="w-full h-full overflow-x-scroll relative select-none"
        id="slide-h-drag"
      >
        <div class="h-full flex items-stretch gallery" draggable="false">
          {
            images.map((img) => {
              const [imgName, altImage, type] = img.split("|");

              const src =
                type === "video"
                  ? `/img/portfolio/${imgName}`
                  : "/img/portfolio";
              const name = type === "video" ? "poster" : imgName;

              return (
                <div class="gallery-item p-5">
                  <picture class="block w-full h-full relative">
                    {type === "video" ? (
                      <VideoAmplitudeLupa
                        src={src}
                        class="rounded-3xl"
                        es={es}
                      />
                    ) : (
                      <PictureAmplitudeLupa es={es} />
                    )}
                    <Image
                      src={src}
                      name={name}
                      alt={altImage}
                      class="object-cover w-full h-full rounded-3xl shadow-xl"
                    />

                    <div class="absolute top-0 left-0 w-full h-full " />

                    {altImage ? (
                      <div class="block absolute top-full left-0 right-0 text-center  text-xs pt-2 px-2 h-10 overflow-hidden text-ellipsis whitespace-nowrap text-white">
                        {altImage}
                      </div>
                    ) : null}
                  </picture>
                </div>
              );
            })
          }
        </div>
      </div>
      <ScrollmeBanner es={es} />
    </div>
  </div>
</div>
<PictureAmplitude es={es} />
<VideoAmplitude es={es} />

<style>
  :root {
    --duration-not-scrolled: 0.8s;
    --delay-not-scrolled: 0.3s;
  }
  .gallery-portfolio-section {
    overflow: hidden;
    height: calc(100dvh - var(--footer-height));
    background-color: rgb(var(--background-dark));
  }

  .gallery {
    .gallery-item {
      flex: 1 0 auto;
    }
  }

  #slide-h-drag {
    padding-left: 8%;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    position: relative;
  }
  #slide-h-drag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  #slide-h-drag::-webkit-scrollbar {
    display: none;
  }
  #slide-h-drag {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .next-work {
    .next-work-bg {
      width: max(100vh, 105%);
      aspect-ratio: 1 / 1;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) scale(0);
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      .next-work-text {
        color: #fff;
        animation: btn-content-pulse 0.3s ease-out;
      }

      .next-work-bg {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1.02);
      }
    }
  }
</style>

<script>
  import $ from "@/js/utils";

  $.onAstroPageLoad(() => {
    const slider = $.sel("#slide-h-drag");
    const scrollmeBanner = $.sel(".scrollme-banner");

    if (slider) {
      const limitScroll = 2;
      let mouseDown = false;
      let startX = 0;
      let scrollLeft = slider.scrollLeft;
      let scrollLeftValue = slider.scrollLeft;
      let isScrolled = false;

      let startDragging = function (e) {
        mouseDown = true;
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
      };

      let stopDragging = function (event) {
        mouseDown = false;
      };

      $.ev(slider).on("mousedown", startDragging);
      $.ev(window).on("mousemove", (e) => {
        e.preventDefault();
        if (!mouseDown) {
          return;
        }
        const x = e.pageX - slider.offsetLeft;
        const scroll = x - startX;
        scrollLeftValue = scrollLeft - scroll;
        slider.scrollLeft = scrollLeftValue;
      });
      $.ev(window).on("mouseup", stopDragging);
      //
      const onScrollSlider = () => {
        if (isScrolled && slider.scrollLeft < limitScroll) {
          isScrolled = false;
          //slider.classList.remove("is-scrolled");
        }
        if (!isScrolled && slider.scrollLeft > limitScroll) {
          isScrolled = true;
          scrollmeBanner.classList.add("hide-banner");
          //slider.classList.add("is-scrolled");
        }
      };
      //
      onScrollSlider();
      $.ev(slider).on("scroll", onScrollSlider);
    }
  });
</script>
