---
import Header from "./header.astro";
import Gallery from "./gallery.astro";
import ButtonsNav from "./buttons-nav.astro";
import Backbutton from "@/components/back-button/index.astro";
import dataSite from "@/data/data.json";

const { work, es } = Astro.props;
const { order } = work.data;

const { title: titleWork, url: urlBase } = es
  ? dataSite.sitemap.work.es
  : dataSite.sitemap.work;
---

<article class="relative bg-gray-900 portfolio-section">
  <nav
    class="fixed top-6 left-3 sm:left-10 z-10 back-btn flex flex-wrap justify-center gap-2"
  >
    <Backbutton href={`${urlBase}#${order}`} text={titleWork} />
    <div class="nav-top hidden lg:block">
      <ButtonsNav work={work} es={es} titlePosition="toBottom" isFloat />
    </div>
  </nav>

  <Header work={work} es={es} />
  <Gallery work={work} es={es} />
</article>

<style is:global>
  .nav-top {
    visibility: hidden;
  }
  @supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
    .portfolio-section {
      view-timeline: --scroll;
      overflow: hidden;
    }
    /************* */
    .bg-portfolio-picture {
      animation: bg-hero-picture-displace linear;
      animation-timeline: --scroll;
      animation-range: 100vh 100%;
    }

    @keyframes bg-hero-picture-displace {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(200vh);
      }
    }

    /************************ */

    .nav-top {
      animation: nav-top-fade linear both;
      animation-timeline: --scroll;
      animation-range: calc(100% - 130dvh) calc(100% - 100dvh);
    }

    @keyframes nav-top-fade {
      0% {
        visibility: hidden;
        opacity: 0;
      }
      100% {
        visibility: visible;
        opacity: 1;
      }
    }
    /************************ */
  }
</style>
