---
import Image from "@/components/image/index.astro";
import Container from "@/components/container/index.astro";
import ScrollDownBanner from "@/components/scrollDownBanner/index.astro";
import I18n from "@/i18n/index.astro";
import dataSite from "@/data/data.json";

const { es } = Astro.props;

const title = "Pablo Cazorla";
const thumbnail = "rosina";

const { subtitle, homeContent, skills, technologies, sectors } = dataSite;

const introText = es ? homeContent.introText.es : homeContent.introText.en;
const descriptionText = es
  ? homeContent.descriptionText.es
  : homeContent.descriptionText.en;
---

<section class="bg-gray-900 text-white hero">
  <header class="relative min-h-[100dvh] flex flex-col justify-center">
    <picture
      class="block overflow-hidden absolute top-0 left-0 w-full h-full bg-black select-none bg-hero-picture"
    >
      <Image
        src="/img/portfolio"
        name={thumbnail}
        alt={title}
        class="object-cover w-full h-full lab-thumbnail opacity-30"
      />
    </picture>
    <div class="min-h-[100dvh] flex flex-col justify-center relative">
      <Container>
        <h1 class="text-h1 font-medium leading-none mb-4">{title}</h1>
        <p class="text-description font-medium mb-[6dvh] px-2">
          {subtitle}
        </p>
        <div class="xl:w-2/3">
          <p class="text-lead text-balance leading-snug px-2">
            {descriptionText}
          </p>
        </div>
      </Container>

      <ScrollDownBanner
        class="absolute bottom-0 left-1/2 -translate-x-1/2"
        es={es}
      />
    </div>
    <Container class="pb-[30dvh] text-center sm:text-left">
      <div class="xl:w-2/3 fade-in">
        <div class="sm:flex flex-wrap gap-[7dvw] text-lead leading-tight px-2">
          <div class="mb-20 sm:mb-0">
            <h4 class="font-bold mb-[2dvh]">
              <I18n text="Skills" es={es} />
            </h4>
            <ul class="flex flex-col gap-[1dvh]">
              {
                skills.map((skill) => (
                  <li>
                    <I18n text={skill} es={es} />
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="mb-20 sm:mb-0">
            <h4 class="font-bold mb-[2dvh]">
              <I18n text="Technologies" es={es} />
            </h4>
            <ul class="flex flex-col gap-[1dvh]">
              {
                technologies.map((tech) => (
                  <li>
                    <I18n text={tech} es={es} />
                  </li>
                ))
              }
            </ul>
          </div>
          <div>
            <h4 class="font-bold mb-[2dvh]">
              <I18n text="Sectors" es={es} />
            </h4>
            <ul class="flex flex-col gap-[1dvh]">
              {
                sectors.map((sector) => (
                  <li>
                    <I18n text={sector} es={es} />
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </Container>
  </header>
  <menu class="fixed home-menu hidden xl:block">
    <ul>
      {
        Object.values(dataSite.sitemap).map((elem) => {
          const { title, url } = es ? elem.es : elem;
          return (
            <li>
              <a href={url}>{title}</a>
            </li>
          );
        })
      }
    </ul>
  </menu>
</section>

<style>
  .home-menu {
    text-align: right;
    top: 5.4rem;
    right: 4rem;
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: 400;

    animation: fade-in-appear-anim both linear;
    animation-timeline: --scroll;
    animation-range: 140dvh 155dvh;

    ul {
      /* list-style: circle; */
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li {
        width: fit-content;
      }
    }
    a {
      opacity: 0.7;
      transition: opacity 0.1s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .hero {
    view-timeline: --scroll;
    overflow: hidden;
  }

  .bg-hero-picture {
    animation: bg-hero-picture-displace linear;
    animation-timeline: --scroll;
    animation-range: 100dvh 100%;
  }

  @keyframes bg-hero-picture-displace {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(80%);
    }
  }

  /************************ */

  .fade-in {
    animation: fade-in-anim both linear;
    animation-timeline: --scroll;
    animation-range: 100dvh 120dvh;
  }

  @keyframes fade-in-anim {
    0% {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-10vh);
    }
    100% {
      visibility: visible;
      opacity: 1;
      transform: translateY(-17vh);
    }
  }
  @keyframes fade-in-appear-anim {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
