---
import Image from "@/components/image/index.astro";
import ScrollDownBanner from "@/components/scrollDownBanner/index.astro";
import dataSite from "@/data/data.json";

const { es } = Astro.props;

const title = "Pablo Cazorla";

const { description: subtitle, homeContent } = dataSite;

const { heroImage, descriptionText } = homeContent;

const description = es ? descriptionText.es : descriptionText.en;
---

<header
  class="relative h-[100dvh] pb-[5dvh] flex flex-col justify-center home-hero overflow-hidden"
>
  <div
    class="block overflow-hidden absolute top-0 left-0 w-full h-full bg-black select-none home-hero-bg opacity-70"
  >
    <Image
      src="home"
      name={heroImage}
      alt={title}
      class="object-cover w-full h-full lab-thumbnail object-right-top"
    />
  </div>

  <div class="home-hero-container mx-auto relative text-center sm:text-left">
    <div class="md:max-w-[60%]">
      <h1 class="text-h1main font-medium leading-none mb-4 -mx-3">{title}</h1>
      <p class="text-description font-medium mb-[6dvh]">
        {subtitle}
      </p>

      <p class="text-lead text-balance leading-snug">
        {description}
      </p>
    </div>
  </div>

  <ScrollDownBanner
    class="absolute bottom-[5dvh] left-1/2 -translate-x-1/2"
    es={es}
  />
</header>
