---
import Image from "@/components/image/index.astro";
import ScrollDownBanner from "@/components/scrollDownBanner/index.astro";
import dataSite from "@/data/data.json";
//import Bgstars from "@/components/bg-stars/index.astro";

const { es } = Astro.props;

const title = "Pablo Cazorla";

const { description: subtitle, homeContent } = dataSite;

const { heroImage, descriptionText, tags } = homeContent;

const description = es ? descriptionText.es : descriptionText.en;
---

<header
  class="relative h-[100dvh] pb-[5dvh] flex flex-col justify-center home-hero overflow-hidden"
>
  <!-- <div
    class="block overflow-hidden absolute top-0 left-0 w-full h-full bg-black select-none home-hero-bg pointer-events-none"
  >
    <Image
      src="home"
      name={heroImage}
      alt={title}
      class="object-cover w-full h-full lab-thumbnail object-right-top"
      notLazy={true}
    />
  </div>
  <Bgstars /> -->
  <div
    class="home-hero-container mx-auto relative text-center sm:text-left flex"
  >
    <div class="sm:w-[60%] text-white">
      <h1 class="text-h1main font-medium leading-none mb-4 -mx-3">{title}</h1>
      <p class="text-description font-medium mb-[6dvh]">
        {subtitle}
      </p>
      {
        description.map((text, k) => {
          return (
            <p
              class="text-lead text-balance leading-snug mb-[4dvh]"
              set:html={text}
            />
          );
        })
      }
      <p
        class="text-balance uppercase text-sky-200 font-bold text-xs max-w-[800px] leading-7"
      >
        {
          tags
            .map((str) => {
              return `${str}`;
            })
            .join(" · ")
        }
      </p>
    </div>
    <div class="w-[40%] pl-9 sm:block hidden">
      <div
        class="max-w-[450px] w-[100%] xmx-auto aspect-square rounded-full overflow-hidden bg-purple-950 border-4 border-purple-100"
      >
        <Image
          src="home"
          name={heroImage}
          alt={title}
          class="object-cover w-full h-full"
          notLazy={true}
        />
      </div>
    </div>
  </div>

  <ScrollDownBanner
    class="absolute bottom-[5dvh] left-1/2 -translate-x-1/2"
    es={es}
  />
</header>

<style>
  .home-hero {
    background: rgb(70, 19, 128);
    background: linear-gradient(
      180deg,
      rgb(60, 23, 146) 10%,
      rgb(114, 35, 129) 100%
    );
  }
</style>
