---
import { ViewTransitions } from "astro:transitions";
import "./base.css";
import Header from "@/components/header/index.astro";
import Footer from "@/components/footer/index.astro";
import dataSite from "@/data/data.json";
import Opentowork from "@/components/open-to-work/index.astro";
import getUrlImage from "@/components/image/getUrlImage";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  es?: boolean;
}

const title = Astro.props.title
  ? `${Astro.props.title} | ${dataSite.doctitle}`
  : `${dataSite.doctitle}`;

const description = Astro.props.description ?? dataSite.description;

const image = `${dataSite.baseURL}${Astro.props.image ?? getUrlImage("/img/about", dataSite.myImages.header)}`;

const { es } = Astro.props;
---

<!doctype html>
<html lang={es ? "es" : "en"}>
  <head>
    <meta charset="UTF-8" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={dataSite.doctitle} />
    <meta property="og:type" content={dataSite.og_type} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />

    <ViewTransitions />
  </head>
  <body>
    <Header es={es} />
    <main class="main-wrap" data-lang={es ? "es" : "en"}>
      <slot />
      <Footer es={es} />
    </main>
    <Opentowork es={es} />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat-italic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
  }

  body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: rgb(var(--background-dark));
    color: rgb(var(--color-dark));
  }
  @keyframes btn-content-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  html,
  body {
    overflow: hidden;
    text-rendering: optimizeSpeed;
  }

  .main-wrap {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
    transform-origin: 0 0;
    transition: opacity 0.4s ease-in-out;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &.open-menu {
      overflow-y: hidden;
      opacity: 0;
    }
  }

  .bg-square {
    background-image: url("/img/assets/bg-squares.svg");
    background-position: center;
  }
</style>

<script>
  import { detectBrowserLanguage } from "@/i18n/utils";

  const mainWrap = document.querySelector(".main-wrap");

  if (mainWrap && mainWrap.dataset && mainWrap.dataset.lang) {
    detectBrowserLanguage(mainWrap?.dataset?.lang ?? "en");
  }
</script>
